<h1>Hungry? Grab a Burger!</h1>

<h2>Order Now!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
<br>

<h2>Sold Out!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<br>
<br>
<h2>Add a New Burger to the Menu</h2>
<form class="create-form">

  <div class="form-group">
    <label for="addBurg">Burger Name:</label>
    <input type="text" id="newBurg" name="name">
  </div>

    <div class="form-group">
    <label for="state">Available Now</label><br>
    <input type="radio" name="devour" value="0" checked> Available Now<br>
    <input type="radio" name="devour" value="1"> Needs Restock
  </div>


    <button id="addNew" type="submit">Update Menu</button>
</form>
